* {
  font-family:"Andale Mono","Trebuchet MS",sans-serif;
  color:#fff;
}

body {
  background:#ddd url(appcelerator.png) no-repeat top center;
}

#container {
  width:800px;
  padding:0 10px 0 10px;
  margin:1em auto;
  background-color:#333;
  filter:alpha(opacity=85);
  -moz-opacity:0.85;
  -khtml-opacity: 0.85;
  opacity: 0.85;
}

ul {
  list-style:none;
  padding:0;
  margin:0;
}

a, a:visited, a:active {
  color:#fff;
}

a:hover {
  text-decoration:none;
}

h1,h2,h3 {
  color:#fff;
}

.header {
  margin:3px;
  padding:3px;
}

.header h1 {
  color:#fff;
  font-size:30px;
  padding:10px;
  margin:0;
  font-style:italic;
}

.results {
  font-size:14px;
  color:#fff;
  max-height:400px;
  overflow:auto;
}

.results li {
  margin-top:5px;
}

.status {
  font-style:italic;
}

.success {
  color:#00FF00;
}

.warn {
  color:yellow;
}

.failure {
  color:#FF3300;
}

#status {
  border:1px dashed;
  padding:10px;
  margin-bottom:10px;
}

h3.summary {
  margin:0 0 10px 0;
}

.summary {
  font-style:italic;
}