<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" 
	version="2.5">
	
	<servlet>
		<servlet-name>MQ</servlet-name>
		<servlet-class>com.appcelerator.MessageQueueServlet</servlet-class>
		<!-- 
			You can modify this value to reflect the package you'd like to place your listeners/filters in, 
			the top level package prefix for your app is probably fine (e.g. com.myapp)
		-->
		<init-param>
			<param-name>listenersPackage</param-name>
			<param-value>com.appcelerator.listeners</param-value>
		</init-param>
		<load-on-startup>0</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>MQ</servlet-name>
		<url-pattern>/mq</url-pattern>
	</servlet-mapping>
	
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
	
</web-app>
